
.content {
    display: block;
    align-items: center;
    border: 1px solid blanchedalmond;
    width: 400px;
    height: 500px;
    margin: 50px auto;
    background-color: blanchedalmond;
    border-radius: 20px;
    box-shadow: 8px 6px crimson;
}
h2{
    text-align: center;
    color: crimson;
    text-shadow: 2px 2px brown;
    margin-bottom: 20px;
}
.input{
    padding: 8px 16px;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 325px;
    border: 2px dashed salmon;
    border-radius: 30px;
    font-size: 20px;
}
